<!doctype html>
<html ng-app>
  <head>
    <script type="text/javascript" src="angular.min.js"></script>
  </head>
  <body>
    <div>
      <label>Name:</label>
      <input  type="text" 
              ng-model="yourName" 
              placeholder="Enter a name here">

      <label>Message:</label>
      <input  type="text" 
              ng-model="yourMessage" 
              placeholder="Enter a message here">              
      <hr>
      <h1>Hello {{yourName}}!</h1>
      <blockquote>{{yourMessage}}</blockquote>
    </div>
  </body>
</html>