<!doctype html>
<html ng-app>
  <head>
    <script type="text/javascript" src="angular.min.js"></script>
  <body>

    <div ng-controller="FirsrCtrl">
      <input ng-model="name">
    </div>

  <script>
    var FirsrCtrl = function($scope){
      $scope.name = "Guillaume";
    };
  </script>

  </body>
</html>