<!doctype html>
<html ng-app>
  <head>
    <script type="text/javascript" src="angular.min.js"></script>
  </head>
  <body>
    <div>
      <label>ng-show</label>
      <input  type="checkbox" 
              ng-model="checked">

      <label>ng-hide</label>
      <input  type="checkbox" 
              ng-model="hidden">        
      <hr>
    </div>

    <div ng-show="checked">

      <label>Name:</label>
      <input  type="text" 
              ng-model="yourName" 
              placeholder="Enter a name here">        
      <h1>Hello {{yourName || "World" }}!</h1>
      
    </div>

    <div ng-hide="hidden">
      test
    </div>

  </body>
</html>