<!doctype html>
<html ng-app>
  <head>
    <script type="text/javascript" src="angular.min.js"></script>
  </head>
  <body>

    <div class="search">
      <input ng-model="searchText">
    </div>

<!--  <div class="">
    <h1>{{ searchText }}</h1>
  </div> -->

    <div ng-controller="ListController as List">
      <ul>
        <li ng-repeat="name in names"><b>{{ name }}</b></li>
      </ul>
    </div>


    <div ng-controller="ListControllerAge as ListAge">
      <ul>
        <li ng-repeat="personn in people"><b>{{ personn.name }}</b> : {{ personn.age }}</li>
      </ul>
    </div>

    <script>
      var ListControllerAge = function( $scope ) {
        $scope.people   = [
         {name:'Tom',   age:'12'},
         {name:'Jeff',  age:'22'},
         {name:'Dan',   age:'42'},
         {name:'Max',   age:'15'},
        ];
      };

      var ListController = function( $scope ) {
        $scope.names   = ["Tom", "Jeff", "Dan", "Max"];
      };

    </script>

  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

  </body>
</html>