<!doctype html>
<html ng-app>
  <head>
    <script type="text/javascript" src="angular.min.js"></script>
  </head>
  <body>

    <div class="search">
      <input ng-model="searchText">
    </div>

  <div class="">
    <h1>{{ searchText }}</h1>
  </div>

    <div ng-controller="ListController as List">
      <ul>
        <li ng-repeat="personn in people"><b>{{ personn.name }}</b> : {{ personn.age }}</li>
      </ul>

    <div>
      <label for="name">NAme</label>
      <input type="text" ng-model="new_name">
      
      <label for="age">Age</label>
      <input type="number" ng-model="new_age">

      <button ng-click="add()">Add</button>
    </div>

    </div>

<!--     
  <section ng-init="names=['Jean', 'Marc', 'John']">
        <h1>{{names}}</h1>
        <ul>
            <li ng-repeat="name in names">{{name | uppercase}}</li>
        </ul>
    </section> 
-->

    <script>
      var ListController = function( $scope ) {

        $scope.people   = [
         {name:'Tom',   age:'12'},
         {name:'Jeff',  age:'22'},
         {name:'Dan',   age:'42'},
         {name:'Max',   age:'15'}
        ];
 
        $scope.add = function() { 
          $scope.people.push({
            name: $scope.new_name,
            age: $scope.new_age
          });
        $scope.new_name = "";
        $scope.new_age = "";
        };
      };
    </script>

  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

  </body>
</html>